@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
    font-family: 'Cairo', sans-serif;
    background-color: #f4f4f4;
}


/* Mega Section */

/* Arabic css Mega Menu
.megaMenuAr {
    overflow: hidden;
    background-color: #34495e;
    color: #fff;
}

.megaMenuAr a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;

}

.megaMenuAr-dropdown {
    float: left;
    overflow: hidden;
}

.megaMenuAr-dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 20px;
    background-color: inherit;

}

.megaMenuAr a:hover, .megaMenuAr-dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.1);
    transition: 0.3s;
}

.megaMenuAr-dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 50%;
    z-index: 1000;
    padding-top: 10px;
    right: 14%;
}
/* dropdown arrow
.megaMenuAr-dropdown-content::after{
    content: "";
    position: absolute;
    top: -10px;
    right: 8%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

.megaMenuAr-dropdown:hover .megaMenuAr-dropdown-content {
    display: block;
}

/* Style the tab
div.megaMenuAr-tab {
    float: left;
    background-color: #2c3e50;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab
div.megaMenuAr-tab button {
    display: block;
    border: none;
    background-color: inherit;
    color: white;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-align: right;
}

/* Change background color of buttons on hover
div.megaMenuAr-tab button:hover {
    background-color: #34495e;
}

/* Create an active/current "tab button" class
div.megaMenuAr-tab button.active {
    background-color: #34495e;
}

/* Style the tab content
.megaMenuAr-tabcontent {
    float: left;
    text-align: right;
    padding: 0 12px;
    background-color: rgba(52, 73, 94,0.9);
    width: 70%;
    border-left: none;
    height: 300px;
}
*/
/* Some Images Filter */

.brightness {
    -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
}

.blur {
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
}

/* addtitional class */

.question-card {
    background-color: #eee;
    padding: 20px;
    border-radius: 80px 80px 0 80px;
}

.introThumbnail {
    height: 135px !important;
    width: 100%;
}

.introThumbnail-text {
    font-size: 2rem;
}

.radius-img {
    border-radius: 5px ;
}

.ques-intro {
    border-right: 5px solid #f06292;
    padding: 10px 5px;
}

.footer-linkss{
    color: #fff;
    background-color: #2c3e50;
    padding: 5px 20px;
    border-radius: 4px;
    line-height: 25px;
    border: 2px solid transparent;
    margin: 5px 2px;
}

.footer-linkss:hover{
    color: #2c3e50;
    background-color: #fff;
    border: 2px solid #2c3e50;
}

.account-btn {
    border-radius: 25px;
    background-color: #34495e;
    transition: 0.3s;
    color: #fff;
}

.account-btn:hover {
    background-color: #fff;
    color: #34495e;
}

.intro-course {
    width : 100% !important;
    height: 400px !important;
}

.btn-socialMedia {
    background-color: #eeeeee;
    color : #263959 !important;
}

.btn-socialMedia:hover {
    transition: 0.4s;
    color : #fff !important;
}

.sec-head{
    background-color: #34495e;
    width: 100%;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    color : #ddd ;
}

/* Label */
.label-course {
    color: #2c3e50;
    padding: 0 15px;
    border-radius: 20px;
    margin: 4px ;
}

/*
.success {background-color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.danger {background-color: #f44336;}
*/
.tag-course {
    background-color: #f5f5f5;
    color: #2c3e50;
    border: 2px solid #e0e0e0 ;
    margin-bottom: 10px;
}

/*Collection Style*/
.collection .collection-item.active {
    background-color: #34495e !important;
    color: #eafaf9 !important;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #34495e;
}

#dots-coll-ques {
    display:inline-block;
    width: 180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-align: right;
}

/* Additional Color */
.wetAsphalt { background-color: #34495e !important;}
.wetAsphalt-text { color: #34495e !important;}

.midnightBlue { background-color: #2c3e50 !important;}
.midnightBlue-text { color: #2c3e50 !important;}

.tranparent {background-color: transparent !important;}


/* Text Image */
/* Container holding the image and the text */
.container-text {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}


/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0.2rem;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Form Edit
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: #fff;
    border: 2px solid #2c3e50;
    border-radius: 4px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0 solid #34495e;
    -webkit-box-shadow: 0 2px 0 0 #34495e;
    box-shadow: 0 2px 0 0 #34495e
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0 solid #34495e;
    -webkit-box-shadow: 2px #34495e;
    box-shadow: 2px #34495e
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #26a69a
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border: 2px solid #4CAF50;
    -webkit-box-shadow:  2px  #4CAF50;
    box-shadow:  2px #4CAF50;
}*/

::-webkit-input-placeholder { /* Chrome */
    color: #9e9e9e;
    font-family: 'Cairo', sans-serif;
    font-size: 18px ;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9e9e9e;
    font-family: 'Cairo', sans-serif;
    font-size: 18px ;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9e9e9e;
    font-family: 'Cairo', sans-serif;
    font-size: 18px ;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #9e9e9e;
    font-family: 'Cairo', sans-serif;
    font-size: 18px ;
    opacity: 1;
}

/*Tab Form Style*/


.container-course {
    height: auto;
    margin: 2rem auto;
}

.container-signForm
{
    width: 35%;
    height: 600px;
    margin: 2rem auto;
}

.container-signForm-mob
{
    height: 600px;
    margin: 2rem auto;
}


.tabs .indicator
{
    background-color: #e0f2f1;
    height: 60px;
    opacity: 0.3;
}

.form-container {
    padding: 40px;
    padding-top: 10px;
}

.confirmation-tabs-btn {
    position: absolute;
}




/* Search Course Form  */

#myInput {
    background-image: url('../imgs/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 18px; /* Increase font-size */
    margin-bottom: 10px; /* Add some space below the input */
    margin-top: 10px;
    background-color: #fff;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 300px;
}

#myUL li a {
    border-bottom: 1px solid #ddd; /* Add a border to all links */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 20px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    transition: 0.3s;
}

#myUL li a:hover:not(.header) {
    background-color: #f5f5f5; /* Add a hover effect to all links, except for headers */
}

/* Search question Form  */


#myUL-qs {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 500px;
    background-color: #fff;
}

#myUL-qs li a {
    display: block;
    -webkit-transition: .25s;
    color: #34495e;
    transition: 0.2s;
    border: 1px solid #eee;
}

#myUL-qs li a {
    display: block;
    -webkit-transition: .25s;
    color: #34495e;
    transition: 0.2s;
    border: 1px solid #eee;
}

#myUL-qs li a .active {
    display: block;
    -webkit-transition: .25s;
    color: #34495e;
    transition: 0.2s;
    border: 1px solid #eee;
}

#myUL-qs li a:hover:not(.header) {
    background-color: #ddd; /* Add a hover effect to all links, except for headers */
}

.pointer {
    cursor: pointer !important;
}

.btn-block {
    display: block;
    width: 100%;
    margin: 8px 0;
}

/*Spaces*/
.pad { padding : 15px !important;}
.mar { margin: 15px !important; }
.mar-top { margin-top : 15px !important;}
.mar-sides { margin : 0 10px !important;}
.pad-sides {padding: 0 20px !important;}
.mar-pad-ques-form {
    margin: 10px 0 !important;
    padding: 10px !important;
}

.mar-pad-ques-textarea {
    margin: 10px 0 !important;
    padding: 10px !important;
    height:15rem !important;
}

/* No Classes  */
.no-border {  border: 0 solid transparent !important ; }
.no-scroll {overflow : hidden !important; }

.collapsible-border {
    /* border-top: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
    /* border-left: 1px solid #ddd; */
    margin: .5rem 0 1rem 0;
    border: 0 solid transparent !important;
}

.hidden-element {
    display : none ;
}

.imgs-store {
    height : 250px !important;
    transition: 0.4s;
}
.imgs-store:hover {
    height : 250px !important;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
}

.rated {
    color: orange;
}

.rating {
    display: block;
}

/* Action button  */

.product-card ul.card-action-buttons {
    margin: -18px 7px 0 0;
    text-align: right;
}
.product-card ul.card-action-buttons li {
    display: inline-block;
    padding-left: 7px;
}

/* Popup Price */
/* Popup container - can be anything you want */
.popup-price {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup-price .popuptext {
    width: 50px;
    background-color: #34495e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -21px;
}

/* Popup arrow */
.popup-price .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

/* Sizes Design */
.sizes {
    padding: 5px 15px;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.colorBox {
    padding: 5px 15px;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
    height: 30px;
}

#unavailable {
    background-color : transparent ;
    border: 2px solid #bdbdbd;
    color : #bdbdbd ;
}

#available {
    background-color : #34495e  ;
    color : #fff ;
    border : 2px solid #2c3e50 ;
}

.ando {
    font-size: 2.2rem;
    margin: 0 !important;
    color: #bdbdbd;
    padding: 0 !important;
}

.otp-imgs {
    border-radius: 4px ;
    margin: 0 10px 0 5px;
    width : 100px !important;
    height : 100px !important;
}

.otp {
    background-color: #fafafa;
    padding: 10px;
    height: 8rem;
    margin: 0 15px 0 0;
}

/* Sweet Alert Configuration */
.swal-overlay {
    overflow: hidden;
}

.swal-modal {
    border-radius : 4px ;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-button {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 1rem;
    outline: none !important;
    border-radius: 2px ;
    focus : none ;
}

.swal-button:active {
    background-color: #4db6ac;
}

.swal-button:focus {
    outline: none !important
}

#confirmForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 50%;
    min-width: 300px;
}
/* Hide all steps by default: */
.tab {
    display: none;
}

#prevBtn {
    background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
.step-confirm {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step-confirm.active {
    opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step-confirm.finish {
    background-color: #34495e;
}

/* slider custom style */
.indicators { display: none !important ;  }
.slider .slides {  height: 440px !important;  }


/* cards overlay  */
#cardOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.onOverlay {
    z-index: 10 ;
    position: relative !important;
}

.popoverCard {
    position: absolute;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    z-index: 10 !important;
    top: 14rem;
    width: 100%;
    left: 0 !important;
}

.popoverCard:before {
    content: "";
    position: absolute;
    left: 46%;
    bottom: 100%;
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #eee;
}

.popoverCardOff {
    display: none;
}


/* love reactions style */
/* facebook reaction style */

.feed .love-btn {
    background: #f06292;
    color : #fff;
    display: inline-block;
    position: relative;
    padding: 18px 12px 6px 12px;
    cursor: pointer;
    border-radius: 4px ;
    transition: 0.2s;
}
.feed .love-btn::before {
    content: ".";
    opacity: 0;
    display: block;
    width: 44px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.feed .love-btn .reaction-box {
    position: absolute;
    width: 280px; /*donr forget edit when add like button*/
    height: 55px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 28px;
    left: -25px;
    bottom: 6rem;
    display: none;
}
.feed .love-btn .reaction-box .reaction-icon.angry {
    animation: fadeInLoad-angry 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px 0px;
}
.feed .love-btn .reaction-box .reaction-icon.flower {
    animation: fadeInLoad-flower 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -40px;
}
.feed .love-btn .reaction-box .reaction-icon.haha {
    animation: fadeInLoad-haha 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -80px;
}
.feed .love-btn .reaction-box .reaction-icon.like {
    animation: fadeInLoad-like 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -120px;
}
.feed .love-btn .reaction-box .reaction-icon.love {
    animation: fadeInLoad-love 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -160px;
}
.feed .love-btn .reaction-box .reaction-icon.sad {
    animation: fadeInLoad-sad 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -200px;
}
.feed .love-btn .reaction-box .reaction-icon.wow {
    animation: fadeInLoad-wow 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background-position: 0px -240px;
}
.feed .love-btn .reaction-box .reaction-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../imgs/react.png);
    background-size: cover;
    border-radius: 20px;
    margin: 8px 4px 0 4px;
    text-align: center;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
    transform: translate(0, 100px) scale(0);
}
.feed .love-btn .reaction-box .reaction-icon label {
    padding: 4px 8px;
    position: relative;
    top: -30px;
    border-radius: 4px;
    font-size: 11px;
    color: #FFF;
    background: #333;
    visibility: hidden;
}
.feed .love-btn .reaction-box .reaction-icon.show {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}
.feed .love-btn .reaction-box .reaction-icon:hover {
    transform: scale(1.4);
    transform-origin: bottom;
}
.feed .love-btn .reaction-box .reaction-icon:hover label {
    visibility: visible;
}
.feed .love-btn:hover {
    background: #34495e;
}

.lovebtn-clicked {
    background-color: green !important;
    color : #f06292 !important;
}

